body{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    overflow-x: hidden;
    scroll-behavior: smooth;
    justify-content: center;
	box-sizing: border-box;
    align-items: center;
	height: 100vh;
}
a{
    text-decoration: none;
}

.btn-backse {
    padding-top: 3rem;
    justify-content: start;
    background: linear-gradient(#D9EAFD, #89A8B2);
    
}
.back-se {
    padding: 10px 35px;
    background: transparent;
    border: 2px solid #80C4E9 ;
    margin: 0 20px;
    color: #80C4E9;
    font-size: 18px;
    border-radius: 4rem;
    cursor: pointer;
}

.back-se:hover {
    color: #B3C8CF;
}

/* Animasi untuk gambar dan konten */
.sekah-img, .sekah-content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.sekah-img.animate {
    opacity: 1;
    transform: translateY(0);
}

.sekah-content.animate {
    opacity: 1;
    transform: translateY(0);
}

.sekah {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.sekah-img img {
    width: 30vw;
    margin-bottom: 3rem;
}

.heading-se {
    font-size: 5rem;
    margin-top: -4rem;
    color: #94b3d7;
}

.heading-se span {
    color: #93BFCF;
    
}

.sekah-content p {
    font-size: 1.5rem;
    padding: 0 8px;
    margin-top: -50px;
    color: #4D869C;
}

/* slider box */
/* Animasi untuk slider-container dan chapter */
.chapter, .slider-container {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease, transform 1s ease;
}

/* Ketika elemen terlihat */
.chapter.animate, .slider-container.animate {
    opacity: 1;
    transform: translateX(0);
}

.slider-img {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.slider-img.animate {
    opacity: 1;
    transform: translateX(0);
}

.chapter {
	color: #BED7DC;
	font-size: 3rem;
	margin-bottom: 2rem;
	text-align: center;
    background-color: white;
}

.chapter span {
	color: #7AB2B2;
}
.slider-container{
	width: 100%;
	height: 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .slider-images{
	display: flex;
	align-items: center;
	gap: 14px;
  }
  .slider-images img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
  margin-bottom: 3rem;
  }
  .slider-img{
	width: 110px;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	transition: 0.7s ease;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
	height: 380px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
	height: 460px;
  }
  .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
	height: 565px;
  }
  h1{
	font-family: "Jost", sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	color: #7FA1C3;
	position: absolute;
	top: 50%;
	left: -10%;
	transform: rotate(270deg);
	transition: 0.7s ease;
  }
  .details{
	position: absolute;
	bottom: 30px;
	left: 30px;
  }
  .details h2{
	font-family: "Jost", sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-align: left;
	line-height: 44px;
	text-align: left;
	color: #7FA1C3;
	text-transform: uppercase;
	transition: 0.7s ease;
	display: none;
  }
  .slider-img.active{
	width: 466px !important;
	height: 450px !important;
  }
  .slider-img.active h1{
	 display: none;
  }
  .slider-img.active .details p, .slider-img.active .details h2{
	display: block;
  }

   /* logo berjalan */
   @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 150px;
    margin: 0 40px;
  }

  .footerBottom{
    background: linear-gradient(to right, #FAF6E3, #E5D9F2); 
    padding: 10px;
    text-align: center;
  }
  .footerBottom p{
    color: #8174A0;
    font-weight: 600;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px 5px;
  }
  @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
  }
  